<!doctype html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>

    <body>
        <div id="root"></div>
        <!-- 1. Link to jQuery (1.8 or later), -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> <!-- 33 KB -->

        <!-- fotorama.css & fotorama.js. -->
        <link href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->

        <% for (var css in htmlWebpackPlugin.files.css) { %>
            <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
        <% } %>
        <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
            <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
        <% } %>
    </body>

</html>
